html, body, #root { 
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
}

@media (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

::-webkit-scrollbar-thumb {
  background: #66CCFF;
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(132, 214, 255);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.2);
}